{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h2>Введите номер телефона для авторизации</h2>
    <form method="post">
    {% csrf_token %}
      <div class="form-group">
        <label for="phone_number">Номер телефона</label>
        <input type="tel" id="phone_number" name="phone_number" pattern="^\+7\d{10}$" maxlength="12" value="{{ phone_number }}" required>
        <label for="confirmation_code">Введите код подтверждения</label>
        <input type="text" id="confirmation_code" name="confirmation_code" maxlength="4" required>
      </div>
      {% if form.errors %}
        <div class="error">
          {{ form.errors.as_text }}
        </div><br />
      {% endif %}
      {% if error_message %}
        <div class="error">
          {{ error_message }}
        </div><br />
        {% endif %}
        <p style="color: #888;">Ваш код подтверждения: {{ confirmation_code }}</p>
      <button type="submit" class="update-button">Подтвердить</button>
    </form>
</div>

{% endblock %}